PORT=5003
MONGO_URI= mongodb+srv://luci:<123456_>@cluster0.ymthswj.mongodb.net/CC6
JWT_SECRET=1234567
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=hthoangoanh02@example.com
SMTP_PASS=2password
EMAIL_FROM=lovely.041176@example.com
OTP_EXPIRES_MINUTES=10
RESET_TOKEN_EXPIRES_MINUTES=15

CLOUDINARY_CLOUD_NAME=da4y5zf5k
CLOUDINARY_API_KEY=632518551748425
CLOUDINARY_API_SECRET=0UUGl-L3q4_LM03AY8d0R8lpyw0
